body { background:#000; overflow: hidden; will-change:auto !important; }

canvas#logo { position: fixed; top:calc(50vh - 150px); left:calc(50vw - 150px); transition: opacity 500ms}

oquonie, tile, spell, parallax { display:block; }

oquonie { width:100vw; height:100vh; transition: background-color 1s, opacity 1s; position: relative; overflow: hidden; -webkit-app-region: drag; opacity: 0;}
oquonie.ready { opacity: 1 }

/* Overlays */

div#dialog { width:100vw; height:100vh;  z-index:9000; background: RGBA(0,0,0,0.5); position: fixed;  will-change: opacity; transition: opacity 250ms; }
div#dialog portrait, div#dialog bubble { display:block; width:400px; height:400px; left:50%; bottom:0%; margin-left:-200px; background-size:contain; background-position:center bottom; background-repeat:no-repeat; position:absolute; z-index:9000; }
div#dialog bubble { background-image:url(../media/graphics/interface/bubble.png); display: block}
div#dialog bubble letter { display:block; position:absolute; bottom:5%; width:75px; height:75px; background-size:contain; background-position: center center; bottom: 35px}
div#dialog bubble letter:nth-child(1) { left: 28px}
div#dialog bubble letter:nth-child(2) { left:90px;}
div#dialog bubble letter:nth-child(3) { left: 150px}

div#overlay { position:absolute; display:block; width:100vw; height:100vh; z-index:8000; background-size:contain; background-position:center center; background-repeat: no-repeat; background-color: white; top:0px; left:0px; will-change: opacity; transition: opacity 250ms;}

div#spellbook { width:100%; height:100vh; position:fixed; top:5vh; text-align: center; left:0px; z-index:9500;}
div#spellbook spell { width:12vw; height:12vw; max-width:12vh; max-height: 12vh; margin-top:5px; background-size:contain; background-position: center center; background-image:url(../media/graphics/spellbook/blank.png); display:inline-block; margin-right:5px}
div#spellbook spell:nth-child(1) { transition: transform 0.3s, opacity 0.4s; }
div#spellbook spell:nth-child(2) { transition: transform 0.4s, opacity 0.4s; }
div#spellbook spell:nth-child(3) { transition: transform 0.5s, opacity 0.4s; }
div#spellbook.invisible { opacity: 1 }
div#spellbook.invisible spell{ transform: translate(0,-20px); opacity: 0 }

div#stage { width:100vh; height:100vh; position:absolute; left:calc(50vw - 50vh); top:0; will-change:top,left,transform; transition: opacity 0.2s, transform 3s; }
div#stage div#room { width:100%; height:100%; margin-top:5vh; position: relative; transition: opacity 0.2s, transform 0.25s; }
div#stage div.parallax { width: 100%;height: 100%;margin-top: 5vh;position: absolute;background-position: center center;background-size:contain; background-repeat:no-repeat; z-index: 2000; will-change: transform; transition: transform 1s;}
div#stage div.parallax.over { background-image:url(../media/graphics/effects/parallax.1.png); }
div#stage div.parallax.under { background-image:url(../media/graphics/effects/parallax.2.png); }
.black div#stage div.parallax.over { background-image:url(../media/graphics/effects/parallax.3.png); }
.black div#stage div.parallax.under { background-image:url(../media/graphics/effects/parallax.4.png); }
.tear div#stage div.parallax.over { display: none; }
.tear div#stage div.parallax.under { background-image:url(../media/graphics/effects/parallax.5.png); }
.pillars div#stage div.parallax.over { background-image:url(../media/graphics/effects/parallax.7.png); }
.pillars div#stage div.parallax.under { background-image:url(../media/graphics/effects/parallax.6.png); }

/* Others */

oquonie.white { background-color:white; }
oquonie.black { background-color:black; }
oquonie.pillars { background-color:lightgrey; }
oquonie.hiversaires { background-color:lightgrey; }
oquonie.tear { background-color:lightgrey; }


tile,notification { background-size:100%; background-position:0px center; background-repeat:repeat-x; position:absolute; width:20%; height:40%; margin-left:-10%; will-change: top,left,opacity;}
tile { transition: top 250ms, left 250ms }
tile.floor {  margin-top:-20%; } 
tile.wall {margin-top:-30%; }
tile.wall.left { -webkit-transform: scaleX(-1); transform: scaleX(-1);}
tile.step {margin-top:-20%; -webkit-transform: scaleX(-1); transform: scaleX(-1);}
tile.step.left { -webkit-transform: scaleX(1); transform: scaleX(1); }
tile.event { margin-top:-29%; background-size: auto 70%; }
tile.event.blocker { background-size: 100%; }
tile.event.mirror { -webkit-transform: scaleX(-1); transform: scaleX(-1); }
tile.event.player { background-size: auto 70%; }
tile.event.player.warp { background-size: 200px 281px; }
tile.shadow { background-image:url(../media/graphics/player/shadow.png); width:100%; height:100%; margin-left:0px; position: absolute; top:0px; z-index:5;}
tile.event notification { width:100%;height:100%;top:-15%; left:10%; }

/* Guides */

div#stage { border:1px solid blue; }
div#stage div#room { border:1px solid purple; }
div#stage div#room tile { border:1px solid red; }
div#stage div#room tile.wall { border:1px solid cyan; }
div#stage div#room tile.floor { border:1px solid pink; }
div#stage div#room tile.step { border:1px solid green; }

.visible { opacity: 1 }
.invisible { opacity: 0 }

.pos11 { top:40%; left: 50% }
.pos10 { top:45%; left: 60% }
.pos1e { top:50%; left: 70% }
.pos01 { top:45%; left: 40% }
.pos00 { top:50%; left: 50% }
.pos0e { top:55%; left: 60% }
.pose1 { top:50%; left: 30% }
.pose0 { top:55%; left: 40% }
.posee { top:60%; left: 50% }

.wall.pose2 { top:48%; left: 20% }
.wall.pos02 { top:43%; left: 30% }
.wall.pos12 { top:38%; left: 40% }
.wall.pos21 { top:38%; left: 60% }
.wall.pos20 { top:43%; left: 70% }
.wall.pos2e { top:48%; left: 80% }

.step.posf1 { top: 55%; left: 20% }
.step.posf0 { top: 60%; left: 30% }
.step.posfe { top: 65%; left: 40% }
.step.posef { top: 65%; left: 60% }
.step.pos0f { top: 60%; left: 70% }
.step.pos1f { top: 55%; left: 80% }

@media screen and (orientation:portrait) {
  div#stage { width:130vw; height:130vw; position:absolute; left:calc(50vw - (130vw/2)); top:calc(55vh - (130vw/2)); will-change:top,left,transform; }
}
