body { background:#000; overflow: hidden; will-change:auto !important; }

canvas#logo { position: fixed; top:calc(50vh - 150px); left:calc(50vw - 150px); transition: opacity 500ms}

oquonie, stage, room, tile, dialog, spellbook, spell, parallax { display:block; }

oquonie { width:100vw; height:100vh; transition: background-color 1s, opacity 1s; position: relative; overflow: hidden; -webkit-app-region: drag; opacity: 0;}
oquonie.ready { opacity: 1 }

dialog { width:100vw; height:100vh;  z-index:9000; background: RGBA(0,0,0,0.5); position: fixed; opacity: 0; will-change: opacity; }
dialog portrait, oquonie dialog bubble { display:block; width:400px; height:400px; left:50%; bottom:0%; margin-left:-200px; background-size:contain; background-position:center bottom; background-repeat:no-repeat; position:absolute; z-index:9000; }
dialog bubble { background-image:url(../media/graphics/interface/bubble.png); }
dialog bubble letter { display:block; position:absolute; bottom:5%; width:75px; height:75px; background-size:contain; background-position: center center; bottom: 35px}
dialog bubble letter:nth-child(1) { left: 28px}
dialog bubble letter:nth-child(2) { left:90px;}
dialog bubble letter:nth-child(3) { left: 150px}

spellbook { width:100%; height:100vh; position:fixed; top:5vh; text-align: center; left:0px; z-index:9500;}
spellbook spell { width:12vw; height:12vw; max-width:12vh; max-height: 12vh; margin-top:5px; background-size:contain; background-position: center center; background-image:url(../media/graphics/spellbook/blank.png); display:inline-block; margin-right:5px}

oquonie.white { background-color:white; }
oquonie.black { background-color:black; }
oquonie.pillars { background-color:lightgrey; }
oquonie.hiversaires { background-color:lightgrey; }
oquonie.tear { background-color:lightgrey; }

stage { width:100vh; height:100vh; position:absolute; left:calc(50vw - 50vh); top:0; will-change:top,left,transform; }
stage room { width:100%; height:100%; margin-top:5vh; position: relative; }
stage parallax { width: 100%;height: 100%;margin-top: 5vh;position: absolute;background-position: center center;background-size:contain; background-repeat:no-repeat; z-index: 2000; will-change: transform; }
stage parallax.over { background-image:url(../media/graphics/effects/parallax.1.png); }
stage parallax.under { background-image:url(../media/graphics/effects/parallax.2.png); }
.black stage parallax.over { background-image:url(../media/graphics/effects/parallax.3.png); }
.black stage parallax.under { background-image:url(../media/graphics/effects/parallax.4.png); }
.tear stage parallax.over { display: none; }
.tear stage parallax.under { background-image:url(../media/graphics/effects/parallax.5.png); }
.pillars stage parallax.over { background-image:url(../media/graphics/effects/parallax.7.png); }
.pillars stage parallax.under { background-image:url(../media/graphics/effects/parallax.6.png); }
tile,notification { background-size:100%; background-position:0px center; background-repeat:repeat-x; position:absolute; width:20%; height:40%; margin-left:-10%; will-change: top,left,opacity;}
tile.floor {  margin-top:-20%; } 
tile.wall {margin-top:-30%; }
tile.wall.left { -webkit-transform: scaleX(-1); transform: scaleX(-1);}
tile.step {margin-top:-20%; -webkit-transform: scaleX(-1); transform: scaleX(-1);}
tile.step.left { -webkit-transform: scaleX(1); transform: scaleX(1); }
tile.event { margin-top:-29%; }
tile.event.mirror { -webkit-transform: scaleX(-1); transform: scaleX(-1); }
tile.shadow { background-image:url(../media/graphics/player/shadow.png); width:100%; height:100%; margin-left:0px; position: absolute; top:0px; z-index:5;}
tile.event notification { width:100%;height:100%;top:-15%; left:10%; }

overlay { position:absolute; display:block; width:100vw; height:100vh; z-index:8000; background-size:contain; background-position:center center; background-repeat: no-repeat; background-color: white; top:0px; left:0px; opacity:0; will-change: opacity;}

/* Guides */

/*
stage { border:1px solid blue; }
stage room { border:1px solid purple; }
stage room tile { border:1px solid red; }
stage room tile.wall { border:1px solid cyan; }
stage room tile.floor { border:1px solid pink; }
stage room tile.step { border:1px solid green; }
*/


@media screen and (orientation:portrait) {
  stage { width:130vw; height:130vw; position:absolute; left:calc(50vw - (130vw/2)); top:calc(55vh - (130vw/2)); will-change:top,left,transform; }
}