body { background:#eee; overflow: hidden }

oquonie, stage, room, tile, dialog, spellbook, spell, parallax { display:block; }

oquonie { background:#fff; width:100vw; height:100vh;}

dialog { width:100vw; height:100vh;  z-index:9000; background: RGBA(0,0,0,0.5); position: fixed; opacity: 0 }
dialog portrait, oquonie dialog bubble { display:block; width:400px; height:400px; left:50%; top:50%; margin-top:-200px; margin-left:-200px; background-size:contain; background-position:center bottom; background-repeat:no-repeat; position:absolute; z-index:9000; }
dialog bubble { background-image:url(../media/graphics/interface/bubble.png); }
dialog bubble letter { display:block; position:absolute; bottom:5%; width:75px; height:75px; background-size:contain; background-position: center center; bottom: 35px}
dialog bubble letter:nth-child(1) { left: 28px}
dialog bubble letter:nth-child(2) { left:90px;}
dialog bubble letter:nth-child(3) { left: 150px}

spellbook { width:100%; height:100vh; position:fixed; top:5vh; text-align: center; left:0px; z-index:9500;}
spellbook spell { width:8vw; height:8vw; max-width:8vh; max-height: 8vh; margin-top:5px; background-size:contain; background-position: center center; background-image:url(../media/graphics/spellbook/blank.png); display:inline-block; margin-right:5px}

.black { background:black; }
.pillars { background:lightgrey; }

stage { width:100vh; height:100vh; position:absolute; left:calc(50% - (100vh/2)); top:calc(50% - (100vh/2)); }
stage room { width:100%; height:100%; margin-top:5vh; position: relative; }
stage parallax { width: 100%;height: 100%;margin-top: 5vh;position: absolute;background-position: center center;background-size:contain; background-repeat:no-repeat;}
stage parallax.over { background-image:url(../media/graphics/effects/parallax.1.png); }
stage parallax.under { background-image:url(../media/graphics/effects/parallax.2.png); }
.black stage parallax.over { background-image:url(../media/graphics/effects/parallax.3.png); }
.black stage parallax.under { background-image:url(../media/graphics/effects/parallax.4.png); }
.pillars stage parallax.over { background-image:url(../media/graphics/effects/parallax.6.png); }
.pillars stage parallax.under { background-image:url(../media/graphics/effects/parallax.7.png); }
tile,notification { background-size:100%; background-position:0px center; background-repeat:repeat-x; position:absolute; width:20%; height:40%; margin-left:-10%;}
tile.floor {  margin-top:-20%; } 
tile.wall {margin-top:-30%; }
tile.wall.left { -webkit-transform: scaleX(-1); transform: scaleX(-1);}
tile.step {margin-top:-20%; -webkit-transform: scaleX(-1); transform: scaleX(-1);}
tile.step.left { -webkit-transform: scaleX(1); transform: scaleX(1); }
tile.event { margin-top:-29%; }
tile.event.mirror { -webkit-transform: scaleX(-1); transform: scaleX(-1); }
tile.shadow { background-image:url(../media/graphics/player/shadow.png); width:100%; height:100%; margin-left:0px; position: absolute; top:0px; z-index:5;}
tile.event notification { width:100%;height:100%;top:-15%; left:10%; }

overlay { position:absolute; display:block; width:100vw; height:100vh; z-index:8000; background-size:contain; background-position:center center; background-repeat: no-repeat; background-color: white; top:0px; left:0px; opacity:0;}
